body{
    text-align: center;
    font-family: 'Tahoma';
}

.centered{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

head{
    font-family: 'Tahoma';
}

html{
    min-height: 100%;
    background-image: url('/Users/stanleychow/Downloads/the-new-york-public-library-VTy7q4wabHc-unsplash.jpg');
    background-size: cover;
}